*{
    color:cornflowerblue;
    /* * butun html taglarinin ozelligini degistirir */
    /* sadece bu tag icin gecerli degisiklik , nokta classlarda degisiklik demek , #tag icin gecerlidir */
}


.highlight{
    font-size: 1.2rem;
    color:blue;
}

.center{
    text-align: center;
}

h1.center{
    background-color:indigo
}

#p1{
    text-align: justify;
}

.span1{
    color: crimson;
}