:root{
    --color1: rgba(40, 195, 195, 0.991);
    --color2: rgb(32, 29, 29);
}

.button-group{
    display: flex;
    gap: 2px;
}

.button-group > button{
    text-transform: uppercase;
    background-color: var(--color2);
    color: var(--color1);
    padding: 10px 15px;
    cursor: pointer;
    flex: 0 1 100px;
    border: 3px solid var(--color1);
    font-weight: bold;
    border-radius: 10px;
}

.button-group > button:first-child{
   border-radius: 30px 10px 10px 30px;

}

.button-group > button:last-child{
    border-radius: 15px 30px 30px 15px;
 
 }

 .button-group > button:hover{
    background-color: var(--color1);
    color: var(--color2);
    border-color: var(--color2);
 
 }