*{
    color:cornflowerblue;
    /* * butun html taglarinin ozelligini degistirir */
    /* sadece bu tag icin gecerli degisiklik , nokta class(sinif)larda degisiklik demek , #tag icin gecerlidir
    Inline seçiciler her zaman diğerlerini ezer
    Hedefi en detaylı şekilde tanımlayan seçici diğerlerini ezer
    Eğer seçici tanımları aynı ise, hedefe en yakın olan seçici diğerlerini ezer 
    */
}


.highlight{
    font-size: 1.2rem;
    color:blue;
}

.center{
    text-align: center;
}

h1.center{
    background-color:indigo
}

#p1{
    text-align: justify;
}

.span1{
    color: rgb(20, 220, 107);
}